html {
    background-color:rgba(83, 85, 75, 0.295);
    padding-left: 50px;
}
img
{
    width: 50%;
    height: 70;
    border-radius: 12px;
}
.center 
{
    display: block;
    margin-left: block;
    margin-right: auto;
    width: 50%;
}
a
{
    color: green;
}

h1
{
    color: yellow;
}
h2
{
    color: orange;
}
h3
{
    color: purple;
}